@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Roboto',sans-serif;
    background-color: #22254b;
}
.movie{
    position: relative;
    overflow:hidden;
    width:200px;
    background-color: #384161;
    border-radius: 5px;
    margin:0.7rem;
    cursor: pointer;
}
.movie img{
    width:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.movie-info {
    display: flex;
    justify-content: space-between;
    color:#eee;
    padding:0.5rem 0.4rem;
    letter-spacing: 1px;
    align-items: center;
}
.movie-info p{
    margin:0px;
}
.movie-info span{
    background-color: #22254b;
    padding: 2px 5px;
    border-radius: 5px;
}
.movie-info span.red{
    color:red;
}
.movie-info span.green{
    color:green;
}
.movie-info span.orange{
    color:orange;
}
.main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.title{
    background-color: #384161;
    color:rgb(175, 190, 221);
    text-align: center;
    font-size: 30px;
    padding:17px 0px;
}
.title a{
    text-decoration: none;
    color:rgb(175, 190, 221);
}
.search-container{
    display:flex;
    justify-content: center;
}
.search-bar{
    width: 80%;
    max-width: 500px;
}
.search-bar form input{
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    margin:1rem 0px;
    padding:0.7rem 1.4rem;
    outline: none;
    border:2px solid rgb(45, 202, 50);
    border-radius: 25px;
    font-family: inherit;
}
.search-bar svg{
    color: white;
    height: 40px;
}
.overlay{
    position: absolute;
    top:5px;
    bottom:5px;
    left:5px;
    right:5px;
    background-color:rgba(0,0,0,0.8);
    color:white;
    overflow:hidden;
    padding:1rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
}
.overlay::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    height:80px;
    width:100%;
    background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,1));
}
.movie:hover .overlay{
    transform: translateY(0px);
}
#movie-expand-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

#movie-expand-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    min-width: 300px;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

div.hidden {
    display: none;
}